@import 'tailwindcss';
@import "../../tailwind.custom.css";

h2 {
    @apply
        w-full
        py-4
        flex justify-center
        underline text-6xl font-semibold;
}

h3 {
    @apply
        px-2 py-2
        underline text-lg;
}

.dest-list {
    @apply
        max-w-max min-w-2xl
        flex flex-col;
}

.dest-item {
    @apply        
        px-2
        flex justify-between;

    * {
        @apply 
            py-2 px-4
    }
}

.clk-dest {
    @apply
        text-mygreen;

    &:hover {
        color: blueviolet;
    }

}

