@import "tailwindcss";


.header-style {
    background-color: hsla(0, 0%, 100%, 0.5);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 3em;
        color: hsl(123, 61%, 47%);
        font-family: cursive;
    }

    .header-img {
        object-fit: cover;

        height: 100%;
        aspect-ratio: 1/1;
    }
}

.home {
    background-color: hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 100%, 0) !important;

}