.header-style {
    background-color: hsla(0, 0%, 100%, 0.5);

    width: 100%;
    height: 4em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 3em;
        color: #2fc036;
        font-family: cursive;
    }

    .header-img {
        object-fit: cover;

        height: 100%;
        aspect-ratio: 1/1;
    }
}

.nav-bar {
    >ul {
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 1ch;
        padding-right: 1em;
    }

    a {
        font-weight: 500;
        color: #ffffff;
        text-decoration: inherit;
    }

    a:hover {
        color: #53f25b;
    }

}